server:
  port: 8081

leorces:
  metrics:
    enabled: true
  rest:
    host: http://localhost:8080

  resilence:
    task-poll:
      circuit-breaker:
        failure-rate-threshold: 60.0
        wait-duration-in-open-state: 15s
        sliding-window-size: 20
        minimum-number-of-calls: 10
        permitted-number-of-calls-in-half-open-state: 5
    task-update:
      circuit-breaker:
        failure-rate-threshold: 70.0
        wait-duration-in-open-state: 10s
        sliding-window-size: 15
        minimum-number-of-calls: 8
        permitted-number-of-calls-in-half-open-state: 3
      retry:
        max-attempts: 2
        wait-duration: 500ms

  process:
    configuration:
      OrderSubmittedProcess:
        workers:
          notification:
            interval: 1
            time-unit: seconds
            max-concurrent-tasks: 10
      OrderPaymentProcess:
        workers:
          debit:
            interval: 1
            time-unit: seconds
            max-concurrent-tasks: 10
          deposit:
            interval: 1
            time-unit: seconds
            max-concurrent-tasks: 10
          notification:
            interval: 1
            time-unit: seconds
            max-concurrent-tasks: 10
      OrderFulfillmentProcess:
        workers:
          notification:
            interval: 1
            time-unit: seconds
            initial-delay: 500
            max-concurrent-tasks: 10
      OrderDeliveryProcess:
        workers:
          courier-delivery:
            interval: 1
            time-unit: seconds
            max-concurrent-tasks: 10
          express-delivery:
            interval: 1
            time-unit: seconds
            max-concurrent-tasks: 10
          postal-delivery:
            interval: 1
            time-unit: seconds
            max-concurrent-tasks: 10
          notification:
            interval: 1
            time-unit: seconds
            max-concurrent-tasks: 10
logging:
  level:
    com.leorces.example: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

